In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv('training.csv')

In [36]:
df = df.drop('Age', axis=1)

In [37]:
df.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [38]:
dummy = pd.get_dummies(df)

In [42]:
dummy.head()

   PassengerId  Pclass  Sex  SibSp  Parch     Fare  Embarked
0            1       3    0      1      0   7.2500         0
1            2       1    1      1      0  71.2833         1
2            3       3    1      0      0   7.9250         0
3            4       1    1      1      0  53.1000         0
4            5       3    0      0      0   8.0500         0

In [43]:
dummy['Family'] = dummy['SibSp'] + dummy['Parch']

In [44]:
dummy.head()

   PassengerId  Pclass  Sex  SibSp  Parch     Fare  Embarked  Family
0            1       3    0      1      0   7.2500         0       1
1            2       1    1      1      0  71.2833         1       1
2            3       3    1      0      0   7.9250         0       0
3            4       1    1      1      0  53.1000         0       1
4            5       3    0      0      0   8.0500         0       0

In [55]:
from sklearn.ensemble import RandomForestClassifier

In [104]:
model =  RandomForestClassifier(max_leaf_nodes=3, random_state=0, max_depth=4, n_estimators=100)

In [57]:
from sklearn.model_selection import train_test_split

In [80]:
y = pd.read_csv('label.csv')

In [105]:
X_train, X_test, y_train, y_test = train_test_split(dummy.iloc[:, 1:].drop(['Family','Parch'], axis=1), y, random_state=0)

In [106]:
model.fit(X_train, y_train)

/home/cy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=3,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [107]:
model.score(X_test, y_test)

0.7982062780269058

In [109]:
dummy = dummy.drop('Family', axis=1)

In [118]:
df1.to_csv('test4', index=False, index_label=False, header=False)

In [112]:
df1= pd.read_csv('testing.csv')

In [114]:
df1.isnull().sum()

PassengerId     0
Pclass          0
Sex             0
Age            86
SibSp           0
Parch           0
Fare            1
Embarked        0
dtype: int64

In [115]:
df1 = df1.fillna(method='ffill').drop('Age', axis=1)

   PassengerId  Pclass  Sex  SibSp  Parch     Fare  Embarked
0          892       3    0      0      0   7.8292         0
1          893       3    1      1      0   7.0000         1
2          894       2    0      0      0   9.6875         0
3          895       3    0      0      0   8.6625         1
4          896       3    1      1      1  12.2875         1